{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinkToSite</title>
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header id="header">
    <div><a href="{% url 'new_link_view' %}"><h1 class="title">LinkToSite</h1></a></div>
</header>

{#<div><a href="{% url 'new_link_view' %}"><button>New link</button></a></div>#}

<div id="main-frame">

    {% for category in categories %}
        <div class="cat-frame">
{#            убрать захардкоженность#}
            <div class="cat-title">{{ category.name }}</div>
            {% for link in links %}
                {% if link.category.id == category.id %}
                    <div class="reffer"><a href="{{ link.link }}" target="_blank">{% if link.image %}<img src="{{ link.image }}" alt="">{% endif %}<p>{{ link.title }}</p></a></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

</div>

{% block panelform %}
{% endblock panelform %}

<div class="version">
    <a href="{% url 'admin:index' %}">ver. 2.02</a>
</div>

<details id="author">
    <summary>
        &copy; &#9773; Fadeev Artem
    </summary>
    <p>
        Moscow Russia, 2020
    </p>
</details>

</body>
</html>