{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReferencingTube</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header id="header">
    <div><h1>ReferencingTube</h1></div>
</header>

<div id="main-frame">

    {% for category in categories %}
        <div class="cat-frame">
            <div class="cat-title">{{ category.name }}</div>
            {% for link in links %}
                {% if link.category.id == category.id %}
                    <div class="reffer"><a href="{{ link.link }}" target="_blank"><img src="{{ link.image.url }}" alt=""><p>{{ link.title }}</p></a></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

{#    <div class="cat-frame">#}
{#        <div class="cat-title">Knowledge</div>#}
{#        <div class="reffer"><a href="https://ru.wikipedia.org/" target="_blank"><img src="img/wiki-48.png" alt="">#}
{#            <p>Wikipedia</p></a></div>#}
{#        <div class="reffer"><a href="https://www.google.com/" target="_blank"><img src="img/google-48.png" alt="">#}
{#            <p>Googgle</p></a></div>#}
{#        <div class="reffer"><a href="https://yandex.ru/" target="_blank"><img src="img/yandex-48.png" alt="">#}
{#            <p>Yandex</p></a></div>#}
{#        <div class="reffer"><a href="https://getpocket.com/" target="_blank"><img src="img/pocket-48.png" alt="">#}
{#            <p>Pocket</p></a></div>#}
{#    </div>#}
{##}
{#    <br>#}
{#    <br>#}
{##}
{#    <div class="cat-frame">#}
{#        <div class="cat-title">Programming</div>#}
{##}
{#        <div class="reffer"><a href="https://www.python.org/" target="_blank"><img src="img/python-48.png" alt="">#}
{#            <p>Python</p></a></div>#}
{#        <div class="reffer"><a href="https://www.javascript.com/" target="_blank"><img src="img/js50.png" alt="">#}
{#            <p>JavaScript</p></a></div>#}
{#        <div class="reffer"><a href="https://nodejs.org/" target="_blank"><img src="img/nodejs-48.png" alt="">#}
{#            <p>Node JS</p></a></div>#}
{#        <div class="reffer"><a href="https://getbootstrap.com/" target="_blank"><img src="img/bootstrap-48.png" alt="">#}
{#            <p>Bootstrap</p></a></div>#}
{#        <div class="reffer"><a href="http://htmlbook.ru/" target="_blank"><img src="img/html-5-48.png" alt="">#}
{#            <p>Htmlbook</p></a></div>#}
{#        <div class="reffer"><a href="https://cdnjs.com/" target="_blank"><img src="img/cdnjs.png" alt="">#}
{#            <p>cdnjs</p></a></div>#}
{#        <div class="reffer"><a href="https://html5book.ru/" target="_blank"><img src="img/html-5-48.png" alt="">#}
{#            <p>HTML5book</p></a></div>#}
{#    </div>#}
{##}
{#    <br>#}
{#    <br>#}
{##}
{#    <div class="cat-frame">#}
{#        <div class="cat-title">Community</div>#}
{#        <div class="reffer"><a href="https://www.github.com/" target="_blank"><img src="img/github48.png" alt="">#}
{#            <p>GitHub</p></a></div>#}
{#        <div class="reffer"><a href="https://www.codewars.com/" target="_blank"><img src="img/codewars48.png" alt="">#}
{#            <p>CodeWars</p></a></div>#}
{#        <div class="reffer"><a href="https://toster.ru/" target="_blank"><img src="img/toster.png"#}
{#                                                                              alt="">#}
{#            <p>Toster</p></a></div>#}
{#        <div class="reffer"><a href="https://stackoverflow.com/" target="_blank"><img src="img/stackoverflow48.png"#}
{#                                                                                      alt="">#}
{#            <p>Stack overflow</p></a></div>#}
{##}
{#        <div class="reffer"><a href="https://habr.com/" target="_blank"><img src="img/habr.png"#}
{#                                                                                      alt="">#}
{#            <p>Habrahabr</p></a></div>#}
{##}
{#        <div class="reffer"><a href="https://www.youtube.com/" target="_blank"><img src="img/youtube-48.png"#}
{#                                                                                    alt="">#}
{#            <p>YouTube</p></a></div>#}
{##}
{#    </div>#}
{##}
{#    <br>#}
{#    <br>#}
{##}
{#    <div class="cat-frame">#}
{#        <div class="cat-title">Host</div>#}
{#        <div class="reffer"><a href="https://heroku.com/" target="_blank"><img#}
{#                src="img/heroku-48.png" alt="">#}
{#            <p>Heroku</p></a></div>#}
{#        <div class="reffer"><a href="http://localhost:8000/" target="_blank"><img#}
{#                src="img/localhost-48.png" alt="">#}
{#            <p>localhost:8000</p></a></div>#}
{#    </div>#}
{##}
{#    <br>#}
{#    <br>#}
{##}
{#    <div class="cat-frame">#}
{#        <div class="cat-title">English</div>#}
{#        <div class="reffer"><a href="https://translate.google.ru/" target="_blank"><img#}
{#                src="img/google-translate-48.png" alt="">#}
{#            <p>Google translater</p></a></div>#}
{#        <div class="reffer"><a href="https://translate.yandex.ru/" target="_blank"><img#}
{#                src="img/yandex-translate-48.png" alt="">#}
{#            <p>Yandex translater</p></a></div>#}
{#        <div class="reffer"><a href="https://lingualeo.com/" target="_blank"><img src="img/lingualeon.png" alt="">#}
{#            <p>Lingualeo</p></a></div>#}
{#        <div class="reffer"><a href="https://wooordhunt.ru/" target="_blank"><img src="img/wooordhunt-48.png" alt="">#}
{#            <p>Wooordhunt</p></a></div>#}
{#    </div>#}

</div>

<details id="author">
    <summary>
        &copy; &#9773; Fadeev Artem
    </summary>
    <p>
        Moscow Russia, 2019
    </p>
</details>

</body>
</html>