{% extends 'base.html' %}

{% block content %}

    <div class="form_field">
        <a href="{% url 'main_view' %}" class="form_field__close"><div class="close"></div></a>
        <div class="form_field__title">Create new user</div>
        <form class="form_field__items" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit" class="form_field__btn">Register</button>
            <input type='hidden' name='next' value='{% url "main_view" %}'>
        </form>
    </div>

{% endblock content %}